html {
	height: 100%;
}

body {
	height: 100%
}

h3.signin-header{
    color: #FFF;
    text-shadow: -1px 0 5px rgba(0, 0, 0, 0.75); 
}

.main-content{
}

.home-content {
	padding: 0px 50px;
	background: rgba(238, 238, 238, 0.80);
}

.container{
}

.home-left {
	padding: 15% 0;
	background: rgba(238, 238, 238, 0.80);
}

.home-login {
	padding-top: 20%;
}

.info {
	margin: 0 auto;
	text-align: center;
}

.form-control{
	margin: 10px 0px;
	height: 45px;
}

.submit-button {
	width: 100%;
}

.vertical-center{
	/*margin-top: 70%;*/
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}


/* Set the fixed height of the footer here */
.footer {
  height: 50px;
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  padding: 20px 50px;
  font-size: 11px;
}

/* BACKGROUND */

body {
    background: url(../images/bg.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

/* QUESTION */

.question-panel {
    width: 95%;
    margin: 0 auto;
}

.error {
	color: rgb(240, 80, 80);
}


.ratio{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 100% ; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.question-info-panel {
    margin-bottom: 1px;
}

.jack-picture {
    height:auto; 
    width:auto; 
    max-width:200px; 
    max-height:200px;
}
.center-message{
	margin: 0px auto;
	padding: 20% 0;
}

.danger-footer{
	background: rgba(240, 80, 80, 0.5);
}

.success-footer{
	background: rgba(83, 169, 63, 0.5);
}

.panel-footer{
	text-align: center;
}

.user-points{
	width: 100%;
	margin: 0px;
	padding: 0px 10px;
}

.profile-content {
	text-align: center;
}

.level-numbers {
	margin: -20px -15px 0px -15px;
	font-weight: 900;
}