{% extends 'pages/base.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-3">
		<span class="glyphicon glyphicon-user large-icon"></span>
		<h3>
		Carmela Acevedo
		</h3>
	</div>
	<div class="col-lg-3">
		<span class="glyphicon glyphicon-user large-icon"></span>
		<h3>
		Uneeb Agha
		</h3>
	</div>
	<div class="col-lg-3">
		<span class="glyphicon glyphicon-user large-icon"></span>
		<h3>
		Daniel Hasegan
		</h3>
	</div>
	<div class="col-lg-3">
		<span class="glyphicon glyphicon-user large-icon"></span>
		<h3>
		Catalin Perticas
		</h3>
	</div>
</div>
{% endblock %}