<!DOCTYPE html>
<html>
  <head>
    <title>WhoIsjAck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Who is Who">
    <meta name="author" content="jTeam">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/whoisjack.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" >
  </head>
  <body>
    <div class="container">
      {% include 'objects/navbar.html' %}

      <div class="main-content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <!-- Include whoisjack Javascript -->
    <script src="{{ STATIC_URL }}js/whoisjack.js"></script>
  </body>
</html>