{% extends 'pages/menuBase.html' %}


{% block content %}
<div class="question-content row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading panel-score-heading">
                Users
            </div>
            <div class="panel-body">
                <table class="table no-margin">
                    <thead>
                      <tr>
                            <th>
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Points
                            </th>
                            <th>
                                Level
                            </th>
                            <th>
                                Q Ans
                            </th>
                            <th>
                                College
                            </th>
                      </tr>  
                    </thead>

                    <tbody>
                        {% for st in students %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ st.student.fname }} {{ st.student.lname }}
                                </td>
                                <td>
                                    {{ st.student.points }}
                                </td>
                                <td>
                                    {{ st.level.0 }}
                                </td>
                                <td>
                                    {{ st.anss|length }}
                                </td>
                                <td>
                                    <img class="college-icon" src="{{ STATIC_URL }}images/{{st.col}}.jpg" alt="{{ st.col }}">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading panel-score-heading">
                Proposed questions:
            </div>
            <div class="panel-body">
                {% for pq in proposed_questions %}
                    <b>{{ pq.student.fname }} {{ pq.student.lname }} </b> ({{ pq.student.username }}): {{ pq.new_question }} <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}