{% extends 'pages/base.html' %}


{% block content %}
<div class="row">
	<div class="panel panel-danger question-panel">
	  <div class="panel-heading">
	    <h3 class="panel-title">Jack asks you...</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="row">
	  		<div class="col-md-4">
	  			picture here!
	  		</div>
	  		<div class="col-md-8">
	  			<div class="row">
	  				<div class="col-md-12">
	  					What is your fucking problem?
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-md-12">
	  					Lol, easy man! chill
	  				</div>
	  			</div>
	  		</div>
	  	</div>

	  	<div class="row">
	  		<div class="col-md-4">
	  		</div>
	  		<div class="col-md-8">
	  			<div class="row">
	  				<div class="col-md-6">
	  					<button type="button" class="btn btn-lg btn-default">skip</button>
	  				</div>
	  				<div class="col-md-6">
	  					<button type="button" class="btn btn-lg btn-default">submit</button>
	  				</div>
	  		</div>
	  	</div>
	  </div>
	</div>
</div>
{% endblock %}