{% extends 'pages/menuBase.html' %}


{% block content %}
<div class="question-content row">
	<div class="col-md-8">
		<div class="panel question-panel">
		  <div class="panel-heading">
		    <h3 class="panel-title">Jack asks you...</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="row">
		  		<div class="col-md-3">
		  			<a href="#" class="thumbnail">
						<img class="ratio" style="background-image:url('{{question.question_target.photourl}}')">
						
						
					</a>
		  		</div>
		  		<div class="col-md-9">
			  		<form class="center question-form" action="{% url 'question' %}" method="POST" ng-app>
			  			<div class="row">
			  				<h5>
			  					{{question.question_content}}	
			  				</h5>
			  			</div>
			  			{% if question.choices %}
				  			{% for choice in question.choices %}
				  			<label class="radio-inline">
				  			<input ng-model="answer" type="radio" name="answer" value="{{choice}}"> {{choice}} 
				  			</label><br>
				  			{% endfor%}
			  			{% else %}
			  				<input ng-model="answer" name="answer" type="text" class="form-control" placeholder="Answer me!" autofocus>
			  			{% endif %}
			  			<input type="hidden" name="uid" value="{{question.question_target.jid}}"></input>
			  			<input type="hidden" name="q_type" value="{{question.question_type}}"></input>
			  			{% csrf_token %}
			  			<button type="button" class="submit-answer submit-button btn btn-lg btn-default" ng-disabled="!(answer)">submit</button>
			  		</form>
		  		</div>
		  	</div>
		  </div>
	  </div>
	</div>
	<div class="col-md-4">
		
		<div class="panel">
			<div class="question-info-panel"><strong>My Profile</strong></div>
		</div>
		<div class="panel">
			{% include 'objects/profile.html' %}
		</div>
		
		<div class="panel">
			<div class="question-info-panel"><strong>Highscore</strong></div>
		</div>
		<div class="panel">
			{% include 'objects/highscore.html' %}
		</div>
	</div>
</div>
{% endblock %}