<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/home">WhoIsJack</a>
  </div>

  <ul class="nav navbar-nav">
    <li {% if page == "question" %} class="active" {% endif %}>
      <a href="/question">
        PLAY
      </a>
    </li>
    <li {% if page == "allscores" %} class="active" {% endif %}>
      <a href="/allscores">
        SCORES
      </a>
    </li>
  </ul>

  {% if user_auth %}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'logout' %}">Logout {{ user_auth }}</a></li>
  </ul>
  {% endif %}
</nav>